.side
  .side-header
    %p.side-header__user-name
      = current_user.name
    %ul.user-menu
      %li.user-menu__create-group
        = link_to  do
          %i.fa.fa-edit.my-white
      %li.user-menu__edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog.my-white
  
  .group_selection
    %p.group_selection__group-name
      グループ名1
    %p.group_selection__group-comment
      コメント1
    %p.group_selection__group-name
      グループ名2
    %p.group_selection__group-comment
      コメント2
    %p.group_selection__group-name
      グループ名3
    %p.group_selection__group-comment
      コメント3
