%div.notice
  グループを作成しました

%div.side
  %div.side-header
    %p.side-header__user-name
      kosuke
    %ul.user-menu
      %li.user-menu__create-group
        %a{href: ''}
          %i.fa.fa-edit.my-white
      %li.user-menu__edit-user
        %a{href: ''}
          %i.fa.fa-cog.my-white
