%div.notice
  グループを作成しました

%div.side
  %div.side-header
    %p.side-header__user-name
      kosuke
    %ul.user-menu
      %li.user-menu__create-group
        %a{href: ''}
          %i.fa.fa-edit.my-white
      %li.user-menu__edit-user
        %a{href: ''}
          %i.fa.fa-cog.my-white
  
  %div.group_selection
    %p.group_selection__group-name
      グループ名1
    %p.group_selection__group-comment
      コメント1
    %p.group_selection__group-name
      グループ名2
    %p.group_selection__group-comment
      コメント2
    %p.group_selection__group-name
      グループ名3
    %p.group_selection__group-comment
      コメント3

%div.main
  %div.main-header
    %div.current-group
      %p.current-group__group-name
        現在のグループ
      %ul.group-members
        Member:
        %li.group-members__name
          メンバー１
        %li.group-members__name
          メンバー2
    %div.main-header__edit-btn
      Edit

  %div.chat-area
    %div.content
      %div.content-info
        %p.cotent-info__user
          ユーザー名1
        %p.content-info__date-time
          2019/04/25(Thu)15:57:11
      %div.content__text
        comment1
    %div.content
      %div.content-info
        %p.cotent-info__user
          ユーザー名2
        %p.content-info__date-time
          2019/04/26(Fri)15:57:11
      %div.content__text
        comment2
